<ion-header>
  <ion-toolbar>
    <ion-title>
      Wallapop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" text-center>
    <ion-label>Bienvenido</ion-label><br>
    <ion-button [routerLink]="['/login']" [routerLinkActive]="['active']">Iniciar sesión</ion-button><br>
    <ion-button [routerLink]="['/register']" [routerLinkActive]="['active']">Registrarse</ion-button><br>
    <ion-button [routerLink]="['/ver-productos']" [routerLinkActive]="['active']">Entrar como invitado</ion-button><br>
  </div>
</ion-content>
