<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Información producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<div *ngIf="producto">
<ion-card color="succes" >
    <ion-card-header text-center>
      <img [src]="producto?.imagen" style="margin-left: 65px;">
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <b>Descripción: </b>
     <p> {{producto.descripcion}}</p>

      <p><b> Precio:<br>  $ {{producto.precio}} </b></p>

      <b>Usuario: </b>
      <a [routerLink]="['/profile', producto.usuario.id]">{{producto.usuario.nick}}</a>
    </ion-card-content>
    <ion-button style="text-align: center; margin-left: 90px;">Comprar</ion-button>
    <ion-back-button text="Volver" defaultHref="ver-productos"></ion-back-button> <br> <br>
    
  </ion-card>

</div>
<ion-button style="text-align: center; margin-left: 46%;" color="danger" (click)="borrar()">Borrar</ion-button>
</ion-content>