
ion-card{
    width: 295px;
    -webkit-box-shadow: inset 1px 2px 13px -5px #000000; 
    box-shadow: inset 1px 2px 13px -5px #000000;
    border: 5px hidden transparent;
    border-radius: 14px;
}

img{
    width: 120px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ion-card {
    --ion-color-tertiary: #ffffff;
  }
