<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Información producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
 <div>
<ion-card color="succes" >
    <ion-card-header text-center>
      <img [src]="producto[0].imagen" style="margin-left: 65px;">
      <ion-card-title>{{producto[0].nombre}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <b>Descripción: </b>
     <p> {{producto[0].descripcion}}</p>

      <p><b> Precio:<br>  $ {{producto[0].precio}} </b></p>
    </ion-card-content>
    <ion-button style="text-align: center; margin-left: 90px;">Comprar</ion-button>   <ion-back-button defaultHref="ver-productos">Volver</ion-back-button> <br> <br>
  </ion-card>

</div>

</ion-content>