<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item color="primary">
  <img [src]="usuario.imagen" alt="">
  <ion-label>
    <ion-label>Nombre y apellidos: {{usuario.nombre}} {{usuario.apellidos}}</ion-label> <br>
    <ion-label>Nick: {{usuario.nick}}</ion-label>
  </ion-label>
  <ion-label>
    <ion-label>Email: {{usuario.email}}</ion-label> <br>
    <ion-label>Telefono: {{usuario.telefono}}</ion-label>
  </ion-label>
</ion-item>
<ion-item text-center color="primary">
<ion-label >Mis productos</ion-label>
</ion-item>
</ion-content>
