<ion-content color="primary">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Crea tu cuenta</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label position="floating" color="primary">Nombre</ion-label>
              <ion-input name="nombre" class="form-controll" type="text"  [(ngModel)]="newUsuario.nombre" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Apellidos</ion-label>
              <ion-input name="apellidos" type="text"  class="form-controll" [(ngModel)]="newUsuario.apellidos" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Nick</ion-label>
              <ion-input name="nick" class="form-controll" type="text"  [(ngModel)]="newUsuario.nick" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating" color="primary">Email</ion-label>
              <ion-input name="email" class="form-controll" type="email"  [(ngModel)]="newUsuario.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Telefono</ion-label>
              <ion-input name="telefono" class="form-controll" type="text"  [(ngModel)]="newUsuario.telefono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Contraseña</ion-label>
              <ion-input name="password" class="form-controll" type="password"  [(ngModel)]="newUsuario.contrasenya" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Registro</ion-button>
            <ion-back-button defaultHref="home"></ion-back-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>