<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="productos">
 
  <ion-searchbar autocomplete autocorrect placeholder="Buscar producto"></ion-searchbar>
<ion-item color="primary">
  <ion-label text-center>Ordenar por
  <ion-segment color="tertiary">
    <ion-segment-button value="precio" (click)="ordenarPrecio()" >
      <ion-label style="color: aliceblue;">Precio</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nombre" (click)="ordenarNombre()">
      <ion-label style="color: aliceblue;">Nombre</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-label>
</ion-item>
<!-- style="background-color: rgb(57, 126, 255);" -->



<div class="card-columns mt-4" >
  <app-producto-detalle *ngFor="let producto of productos" [producto]="producto"></app-producto-detalle>
</div>
</ion-content>
