<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
 <div>
<ion-card color="succes" >
    <ion-card-header text-center>
      <img [src]="" style="margin-left: 65px;">
      <ion-card-title>Nombre producto</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <b>Descripción: </b>
     <p> Descripción prueba</p>

      <p><b> Precio:<br>  $ 10 </b></p>
    </ion-card-content>
    <ion-button style="text-align: center; margin-left: 90px;">Comprar</ion-button>   <ion-back-button defaultHref="ver-productos">Volver</ion-back-button> <br> <br>
  </ion-card>

</div>

</ion-content>
